body {
    margin: 0;
}
.register-box {
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-08%, -39%);
    color: black;
    border: 10px solid #000000;
    border-radius: 8px;
}

.txtbox {
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #000000;
    border-radius: 5px;
    
}

    .txtbox i {
        width: 26px;
        float: left;
        text-align: center;
    }


    .txtbox input {
        border: 2px solid #000000;
        border-radius: 5px;
        outline: none;
        background: none;
        color: #000000;
        font-size: 18px;
        width: 180px;
        float: left;
        margin: 0 10px;
    }