/* Default Template Styles */

/* Typography */
body {
    background: #fff;
    height: 990px;
    width: 980px;
}
.catalogue {
    background-color: blue;
    float: left;
    width:210px;
    height:500px;

}